<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='css/images/tab_icon.png')}}">
    <title>Breast cancer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>

    <noscript>
        <link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}"/>
    </noscript>
</head>
<body class="is-preload">

		<div id="wrapper">

				<header id="header" class="alt">
					<span class="logo"><img src="images/logo.svg" alt="" /></span>
				</header>

			<section id="banner">

				<div class="inner">
					<header>
						<img src="{{url_for('static', filename='ribbon2.png')}}" align="right" width="300" height="300"/>
						<h1 style="font-size:280%;">Doctor's little helper</h1>

					</header>
                    <p style="font-size:120%;">Upload your patient's data and I'll help you to recognize breast cancer type correctly. <br>
					I'll try to convince you that I'm right!</p>
                    <div class="upload">

                        <form method=post enctype=multipart/form-data>
                          <input type=file name=file>
                          <input type=submit value=Upload>
                        </form>

            		</div>
				</div>

			</section>

			<section>
				<div class="inner">
                    <header>
					<p style="font-size:120%;">I use <strong>machine learning</strong> algorithms
					to predict  <br> whether your patient's cancer is benign or malignant. <br>
                        Accuracy of my prediction is really high - <strong>98.4 %.</strong> <br> </p>
                    </header>
				</div>
			</section>

				<footer id="footer">
					<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>

		</div>

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>